
/******************************************************************************************************************************************************
*****************************************************    TODO    ************************************************************************************
*******************************************************************************************************************************************************
*******************************************************************************************************************************************************/


*{ 
padding: 0;

margin: 0;

box-sizing: border-box;



}


body{
    background-color: rgb(71, 71, 71);

    color: rgba(253, 253, 253, 0.823);

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    min-height: 100vh;

    position: relative
    
}

main{
    display: flex;

    flex-direction: column;

    align-items: center;

    padding-bottom: 300px;


}

.centrado{
    width: 80%;

    margin: 0;
}

.crece{transition: transform 0.3s;}
.crece:hover{
    
    transform: scale(1.1);

}

.column{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row{
    display: flex;
    flex-direction: row;
    align-items: center;
}
ul{list-style: none;}

/***************************************************** BARRA DE NAVEGACION    *************************************************************/

.header{
    background-color: rgb(66, 105, 66);
    
    width: 100%;

    height: 200px;

    display: flex;

    align-items: center;

    justify-content: space-between;

    padding-left: 90px;

    padding-right: 90px;
}
.header2{background-color: rgb(66, 105, 66);
    
    width: 100%;

    height: 100px;

    display: flex;

    align-items: center;

    justify-content: space-between;

    padding-left: 90px;

    padding-right: 90px;

    position: fixed;

    z-index: 20;

    font-size: 0.80em;
}



.logo{
    font-size: 3em;

    font-family:Verdana, Geneva, Tahoma, sans-serif;

}

.nav_bar a{ 

    text-decoration: none;

    color: aliceblue;

    font-size: 2em;

    padding-left: 20px;

    padding-right: 20px;

    text-shadow: 1px 1px 2px black;



    

}
.nav_bar a:hover{

    color: #000000;

}

.marcado{
    color: rgb(98, 98, 98) !important;

}


/***************************************************** PIE DE PAGINA   *************************************************************/

footer{

    position:absolute;

    bottom: 0;


    width: 100%;
    height: 300px;

    background-color: #00000075;

    display: flex;

    align-items: center;

    justify-content: space-evenly;

}

.visitanos{
    display: flex;

    flex-direction: column;

    align-items: center;


}

.visitanos span {
    font-size: 40px;

    padding: 20px;

}

.icons a img{
    width: 150px;

    height: auto;

    padding: 20px;
}

.terminos{
    display: flex;

    flex-direction: column;

    align-items: center;
}

.terminos span{
    font-size: 20px;

    margin-bottom: 20px;



    
}

.terminos span a {

    text-decoration: none;

    color: aliceblue;

    font-size: 30px;



}






/******************************************************************************************************************************************************
*****************************************************    INDEX.HTML     ************************************************************************************
*******************************************************************************************************************************************************
*******************************************************************************************************************************************************/






/***************************************************** CARRUSEL     ***********************************************************************/


.carrusel{
    border: 1px solid black;

    height: 800px;

    width: 100%;
    
    position: relative;
}

.carrusel img{
    width: 60px;

    height: auto;

}

#imagen_carrusel{

width: 100%;}

#imagen_carrusel img{
    width: 100%;

    height:800px;

    display: inline-block;

}

.flechas_carrusel{

height: 100%;

width: 100%;

position: absolute;

top: 0;

display: flex;

align-items: center;

justify-content: space-between;

padding: 150px;

}




/*****************************************************  NOTICIAS     ***********************************************************************/


article{ 
    font-size: 22px;

    padding: 60px;

    width: 100%;

}

section { 

    width: 100%;
    
    font-size: 22px;

    padding: 60px;

}

section p {

    padding: 10px;
}

section h2{

    font-size: 60px;
    
    padding: 10px;

}

#mar{

    margin-top: 200px;

}




/******************************************************************************************************************************************************
*****************************************************    PRESUPUESTO.HTML    ************************************************************************************
*******************************************************************************************************************************************************
*******************************************************************************************************************************************************/


#formulario_de_solicitud{

    width: 80%;

    height: auto;

    margin-bottom: 5%;

    font-size: 30px;
}

#formulario_de_solicitud h1{

    padding: 60px;

}

#formulario_de_solicitud h2{

    padding: 40px;

}




#datos_contacto{

    width: 100%;

    height: auto;

    text-align:center;

    justify-content: center;

}

#datos_contacto ul li{
    padding: 10px;

}

#datos_contacto ul li input{
    width: 400px;

    height: 30px;
}

#presupuesto{

    width: 100%;

}

#productos{

    width: auto;

    height: 50px;

    color: white;

    background-color: rgb(33, 33, 33);

    border: 1px solid white;

    margin: 2%;
}



#tamaño input{

    
    color: white;

    
    width: 100px;

    height: 50px;

    background-color: rgb(33, 33, 33);

    border: 1px solid white;


}

#pequeño{color: white;

    
    width: 100px;

    height: 50px;

    background-color: srgb(66, 105, 66);

    border: none;}





#plazo_final{ 

    padding: 20px;

    color: white;

}


#plazo_final label{
    padding: 20px;

    
}

#plazo_final input{

    width: 50px;

    height: 30px;

    color: white;
    
    background-color: rgb(33, 33, 33);

    border: 1px solid white;

}

.checkbox_extras{
    font-size:20px;
}

.checkbox_extras li{
    padding: 10px;

    padding-bottom: 30px;
}

#presupuesto h3{

    font-size: 25px;

    padding-bottom: 25px;


}

.presu_div{

    padding-bottom:30px ;

}

.presu_div label{

    padding-right: 20px;
}

#presupuesto_input{

    width: 90px;

    height: 50px;

}

.terminos_div{
    font-size: 20px;

    padding-bottom: 30px;
}

#submit_enviar{

    color: white;

    
    width: 100px;

    height: 50px;

    background-color: rgb(66, 105, 66);

    border: none;
}

/******************************************************************************************************************************************************
*****************************************************    GALERIA.HTML    ************************************************************************************
*******************************************************************************************************************************************************
*******************************************************************************************************************************************************/


#galeria{

    padding-top:100px ;

    padding-bottom:400px ;

}

#galeria h2{

    font-size: 50px;

    padding: 50px;



}

#galeria div{

    padding-bottom: 30px;
}

.fotos_central{

    width: 400px;

    height: 400px;

    padding: 30px;

}

.fotos_lados{

    width: 300px;

    height: 300px;

    padding: 30px;

}


.flecha{

    width: 80px;

    height: auto;

    padding: 10px;
}

/******************************************************************************************************************************************************
*****************************************************    MAPA.HTML    ************************************************************************************
*******************************************************************************************************************************************************
*******************************************************************************************************************************************************/

.contacto_todo{
    padding: 200px;

    justify-content: space-between;
}
#mapa{

    height: 500px;

    width: 500px;

    z-index: 10;
}

.datos_contacto{

    width: 50%;

    font-size: 30px;
}

.datos_contacto h2{
    justify-content: center;

    padding-bottom: 20px;}

.datos_contacto div ul li{
    padding-bottom:20px ;

}

.text_contacto{
    text-align: right;

    padding: 20px;
}

















/*****************************************************************************************************************/

