<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>ecology</title>

    <meta name="description" content='Descubre artículos informativos sobre temas ambientales como la protección de la capa de ozono, la prevención de incendios forestales y la conservación de la biodiversidad en nuestra página web. Explora contenido bien investigado y redactado que informa e inspira a la acción para proteger nuestro planeta. Únete a nuestra comunidad comprometida con la sostenibilidad y descubre cómo puedes contribuir a soluciones positivas para los desafíos ambientales actuales.' >

    <meta name="keywords" content="eco,ecosistemas,ecologia,reciclaje">

    <meta name="author" content="Rubén Marín Ruiz">

    <meta name="robots" content="index,follow">

    <link rel="icon" href="../icono_hoja.ico">

    <link rel="stylesheet" href="../css/ecology.css">

    <script src="../js/jquery-3.7.1.js"></script>

</head>
<body>


    <header  class ='header'>

        <h1 class="logo"><strong>ECOLOGY</strong></h1>

        <div class="nav_bar">

            <a href="../index.html" >INICIO</a>

            <a href="./galeria.html" class="marcado">GALERIA</a>

            <a href="./presupuesto.html">PRESUPUESTO</a>

            <a href="./contacto.html">CONTACTO</a>
            
        </div>

    </header>

    <main class="column" id="galeria">



        <!--CAMISETAS************************************************************************-->


    <h2>CAMISETAS</h2>

    <div  class="row">

        <img src="../assets/fotos/izquierda.png" alt="izquierda" id="izquierda_c1" class="crece flecha">

        <div class="row" id="carrusel_galeria_1" >


            <a href="#"><img src="../assets/fotos/camiseta_azul.png" alt="camiseta_azul" width="225" height="225" class="fotos_lados crece"></a>

            <a href="#"><img src="../assets/fotos/camiseta_negra.png" alt="camiseta_negra" width="192" height="269" class="fotos_central crece"></a>

            <a href="#"><img src="../assets/fotos/camiseta_roja.png" alt="camiseta_roja" width="225" height="225" class="fotos_lados crece"></a>

            <!--  <a href="#"><img src="../assets/fotos/camiseta_rosa.png" alt="camiseta_rosa" width="183" height="275"></a>

            <a href="#"><img src="../assets/fotos/camiseta_verde.png" alt="camiseta_verde" width="192" height="262"></a> -->
        </div>

        <img src="../assets/fotos/derecha.png" alt="derecha" id="derecha_c1" class="crece flecha">

    </div>




    <!--CALZADOS************************************************************************-->

    <h2>CALZADOS</h2>

    <div class="row">

        <img src="../assets/fotos/izquierda.png" alt="izquierda" id="izquierda_c2" class="crece flecha">

        <div id="carrusel_galeria_2" class="row">

            <div class="row">

                
                <a href="#"><img src="../assets/fotos/calzado_cuerda.png" alt="calzado_cuerda" width="204" height="248" class="fotos_lados crece"></a>

                <a href="#"><img src="../assets/fotos/sandalia_arreglada.png" alt="sandalia_arreglada" width="195" height="255" class="fotos_central crece"></a>

                <a href="#"><img src="../assets/fotos/sandalia_sport.png" alt="sandalia_sport" width="197" height="255" class="fotos_lados crece"></a>

                <!--    <a href="#"><img src="../assets/fotos/sandalias.png" alt="sandalias" width="210" height="240"></a>-->
                <!--    <a href="#"><img src="../assets/fotos/tenis_ecologicos.png" alt="tenis_ecologicos" width="225" height="225"></a>-->

            </div>

        </div>

        <img src="../assets/fotos/derecha.png" alt="derecha" id="derecha_c2" class="crece flecha">

    </div>

        <!--CASA ECOLOGICA************************************************************************-->


    <h2>CASA ECOLOGICA</h2>

    <div class="row">

        <img src="../assets/fotos/izquierda.png" alt="izquierda" id="izquierda_c3" class="crece flecha">

        <div id="carrusel_galeria_3" class="row">

            <div class="row">

                <a href="#"><img src="../assets/fotos/bolsa.png" alt="bolsa" width="248" height="208" class="fotos_lados crece"></a>

                <a href="#"><img src="../assets/fotos/posavasos.png" alt="posavasos" width="194" height="259"class="fotos_central crece"></a>

                <a href="#"><img src="../assets/fotos/cosa_eco.png" alt="cosa_eco" width="247" height="204" class="fotos_lados crece"></a>

                <!--<a href="#"><img src="../assets/fotos/maceta.png" alt="maceta" width="300" height="168"></a>

                <a href="#"><img src="../assets/fotos/cocina_eco.png" alt="cocina_eco" width="265" height="190"></a>-->

            </div>

        </div>

        <img src="../assets/fotos/derecha.png" alt="derecha" id="derecha_c3" class="crece flecha">

    </div>
    
    </main>



    <footer>
    

        <div class="visitanos">

            <span>¡VISITA NUESTRAS REDES!</span>

            <div class="icons">

                <a href='https://www.facebook.com/ecology' ><img src="../assets/fotos/facebook.png" title="facebook" width="512" height="512" class="crece"></a>

                <a href='https://www.instagram.com/ecology'><img src="../assets/fotos/instagram.png" title="instagram"  width="512" height="512"class="crece"></a>

                <a href='https://www.x.com/ecology'><img src="../assets/fotos/x.png" title="x"  width="512" height="512"class="crece"></a>
            </div>

        </div>

        <div class="terminos">

            <span>&copy; 2024 ECOLOGY ,todos los derechos reservados </span>

            <span> C/Real de Arganda Nº33.</span>

            <span class="crece"><a href="./views/contacto.html">¡Contacta con nosotros!</a></span>
            
        </div>


    </footer>



    <script src="../js/galeria.js"></script>
    <script src="../js/navegador.js"></script>
</body>
</html>